<% content_for :title, "Editing hiring process" %>

<h1>Editing hiring process</h1>

<%= render "form", hiring_process: @hiring_process %>

<br>

<div>
  <%= link_to "Show this hiring process", @hiring_process %> |
  <%= link_to "Back to hiring processes", hiring_processes_path %>
</div>
