<% content_for :title, "New hiring process" %>

<h1>New hiring process</h1>

<%= render "form", hiring_process: @hiring_process %>

<br>

<div>
  <%= link_to "Back to hiring processes", hiring_processes_path %>
</div>
