<div class="container">
  <table id="hiring_processes", class="table table-dark">
    <thead>
      <tr>
        <th scope="col">COMPANY</th>
        <th scope="col">POSITION</th>
        <th scope="col">RECRUITER</th>
        <th scope="col">STATUS</th>
        <th scope="col">DID THEY REACH ME?</th>
        <th scope="col">LAST UPDATE</th>
      </tr>
    </thead>
    <tbody>
      <%= render @hiring_process %>
    </tbody>
  </table>
</div>
<%= link_to "", hiring_processes_path, class:"bi bi-box-arrow-in-left btn btn-secondary btn-lg text-white" %>